<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis app Version 0.1.0</title>
</head>
<body>
    <h1>Enter a restaurant review</h1>
    <form onsubmit="event.preventDefault(); submitReview();">
        <textarea id="review" name="review" rows="4" cols="50"></textarea>
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <div id="lib-version"></div>  <!-- New element to display library version -->
    <button id="correctButton" onclick="submitCorrectness(true);" style="display: none;">Correct</button>
    <button id="incorrectButton" onclick="submitCorrectness(false);" style="display: none;">Incorrect</button>

    <script>
        async function submitReview() {
            const review = document.getElementById("review").value;
            const response = await fetch("/", {
                method: "POST",
                body: new FormData(document.querySelector("form"))
            });
            const data = await response.json();
            const smiley = data.result === 1 ? ":D" : ":(";
            document.getElementById("result").innerHTML = smiley;
            document.getElementById("correctButton").style.display = "block";
            document.getElementById("incorrectButton").style.display = "block";

            const libVersion = data.lib_version;
            document.getElementById("lib-version").innerText = 'Library version: ' + libVersion;
        }

        async function submitCorrectness(correct) {
            const response = await fetch("/correctness", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ correct: correct })
            });
            document.getElementById("correctButton").style.display = "none";
            document.getElementById("incorrectButton").style.display = "none";
        }
    </script>
</body>
</html>
